---
---
<!-- Content-Security-Policy: upgrade-insecure-requests -->

<!DOCTYPE html>
<html class="">
<head>
  <meta charset="UTF-8">
  <!-- Upgrading Insecure Requests (http - https)  -->
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src"> -->
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' ; connect-src 'self'"> -->
  <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js http://crikeli.github.io/assets/img/ https://crikeli.github.io/work/proj-1/ https://crikeli.github.io/work/proj-2/ https://crikeli.github.io/work/proj-3/ https://crikeli.github.io/work/proj-4/" /> -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' http://ajax.googleapis.com http://crikeli.github.io; script-src 'self' unsafe-inline ; style-src 'self' unsafe-inline ; img-src 'self' ; font-src 'self'  ; connect-src 'self'; media-src 'self' ; object-src 'self' ; child-src 'self' ; form-action 'none' ; reflected-xss block;" />
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->
  <!-- <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content"> -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

  <title>{{ site.data.settings.title }}</title>

  <link rel="stylesheet" href="assets/css/all.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  {% include analytics.html %}
</head>
<body>

{% include header.html %}

{% include about.html %}

{% include work.html %}

{% include contact.html %}

{% include form.html %}

{% include footer.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="assets/js/functions.js"></script>
</body>
</html>
