<section class="section-contact">

  <h3 id="contact">Contact</h3>


  <div class="social-links">
    {% for link in site.data.settings.social %}
    <a href="{{ link.link }}" class="icon-{{ link.icon }}" target="_blank"></a>
    {% endfor %}
  </div>

  <!-- <a class="smallink" href="/Resume_Kelin_Christi.pdf" download="Resume_KelinChristi.pdf" target="_blank"> My Résumé </a> -->

  <hr class="bar">

  <a class="biglink" href="/Resume_Kelin_Christi.pdf" download="Resume_KelinChristi.pdf" target="_blank"> Download my Résumé </a>

</section>
